
colortheme-used{
    color:#2b6777;
    color:#c8d8e4;
    color:#ffffff;
    color:#f2f2f2;  
    color:#52ab98;
    
   
}

html{
    background-color: rgba(238, 238, 238, 0.746);
}

/*start...Navigation...start*/
/* start.......hovering over links/buttons animation .........start*/
.navigation li a:link{
    color: rgb(94, 94, 94);
}
/* keep visited, hover and active only in this order */
.navigation li a:visited{
    color: rgba(119, 87, 131, 0.349);
}
.navigation li a:hover {
    color: rgba(0, 47, 73, 0.5);
}
.navigation li a:active {
    color: rgb(255, 0, 0);
}
/* Page links with more stylish fonts */
.navigation li a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
/* end.......hovering over links/buttons animation .........end*/
/*end..............................Navigation..............................end*/
/* mobile */
@media only screen and (max-width: 570px){
    /*To not display the bigger menu on smaller screen */
    .nav{
        display: none;
    }
    .navigation{
        display: none;
    }
    /*start of the hamburgermenu*/
    /* these wont be present in bigger screens. */
    .hamburger {
        width: 100%;
        margin: auto;        
        height: auto;
        color: white;
        border-radius: 10px;
    } 
    /* One shade lighhter than the main yellow color */
    .hamburgerNav {
        overflow: hidden;
        background-color: rgba(252, 212, 134, 0.746);
        position: relative;
    } 
    /* display is none, so that the links can be styles with the nest css selector containing "a" */
    .hamburgerNav #hamburgerLinks {
        display: none;
    }      
    .hamburgerNav a {
        color: #003049ff;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    /* this is the 3 line icon of hamburger button       */
    .hamburgerNav a.icon {
        background: rgb(226, 226, 226);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    } 
    /* Hover styling should be before active styling. */
    .hamburgerNav a:hover {
        background-color: rgba(244, 251, 252, 0.767);
        color: rgb(202, 199, 199);
    }      
    .activeHamburger {
        background-color:rgba(252, 192, 73, 0.746);
        color: rgb(173, 173, 173);
    }
    /*end of the hamburgermenu*/    
    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-decoration: none;
        color: #003049ff;
    }
    /* To not display the inherent styling of li tag */
    li{
        list-style-type: none;
    }
    /*end................this controls the styling of the navigation bar .......*/


}

/* tablet*/
@media only screen and (min-width: 571px) and (max-width: 1010px){

    /*To not display the hamburger menu in bigger screen*/
    .hamburger{
        display:none;
    }
    /*this controls the styling of the navigation bar*/
    .navigation{
        background-color: #ffffff;
        /* background-color: #39603D; */
        display:flex;
        flex-direction:row;
        justify-content: space-around;    
        padding: 10px 3%;
    }
    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-decoration: none;
        color: #003049ff;
    }
    li{
        list-style-type: none;
    }
    /*end....this controls the styling of the navigation bar ......end*/
}
/* desktop devices */
@media only screen and (min-width: 1011px){

    header{
        display:grid;
        grid-template-columns: 30% 70%;
        justify-content: space-between;
        /* background-color: #74d4b7; */
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #ffffff;

    }
    .top{
        /*make a cell in frid, a flex*/
        display: flex;
        align-items: center;/*this alligns vertically*/
       /* justify-content: center;*/ /*this alligns horizontally*/
        /* background-color: #2b6777; */
        padding-left:40px ;
        /* padding-right: 4%;  */
        /* background-color: #452b6e; */

    }
    .top a {
        font-family:Arial, Helvetica, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-decoration: none;
        color: #52ab98;
        
    }

    
    /*To not display the hamburger menu in bigger screen*/
    .hamburger{
        display:none;
    }
    /*this controls the styling of the navigation bar*/
    .navigation{
        background-color: #ffffff;
        /* background-color: #b14949; */
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        padding-left: 40px;
            
        /* padding: 30px 3%; */
    }
    /* page links on navigation bar */
    /* The dark blue color here changes to purple when the links are visited */
    a {
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-decoration: none;
        color: rgb(110, 110, 110);
        padding: 10px;
    }
    /* To not display the inherent li style. */
    li{
        list-style-type: none;
    }
    /*this controls the styling of the navigation bar*/
    /*end of the navigation bar*/


    /*start of the main content part*/

    main{
        display: grid;
        grid-template-columns: 30% 70%; 
    }
    main aside{
        background-color: #2b6777;
        display:flex;
        flex-direction:column;
        justify-content: space-around; 
        text-align: center;       
        
        padding:40px;
       
    }
    main aside img{
        width: 100%;
        /* border: 5px solid #ffffff; */
        
         
    }
    .merchButtons {    
        position: relative;
        
    }
    .icon567{
        display: inline-block;
        position:absolute;
        Cursor: pointer;
        width: 18px;
        height: 17px;
        background:url(/img/trash-can-svgrepo-com.svg);
    }

    main aside h1{
        font-family: Arial,Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        
    }
    main .content{
        display:flex;
        flex-direction:column;
        justify-content: space-around;        
        background-color: #c8d8e4;
        padding:50px;
        padding-right: 100px;
    }
    main .content h1{
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-decoration: none;
        color: rgb(37, 37, 37);
        
    }
    main .content p{
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-decoration: none;
        color: rgb(37, 37, 37);
        
    }


}



